<footer >
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12">
        <h3>Paris</h3>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <ul>
          <li>
            <a href="#">Search</a>
          </li>
          <li>
            <a href="#">Shipping</a>
          </li>
          <li>
            <a href="#">Refund Policy</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Tour</a>
          </li>
          <li>
            <a href="#">Listen</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
        <h4>Sign up and Save</h4>
        <p>Subscribe to get special offers, free giveaways, and once in a lifetime deals.</p>
        <%= simple_form_for @visitor do |f| %>
          <%= f.error_notification %>
          <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
          <br/>
          <%= f.button :submit, "Subscribe", :class => "submit" %>
        <% end %>
      </div>
    </div>
  </div>
</footer>
