<!-- <h1>Tour dates</h1>
<h6>Upcoming Dates</h6>
<h6>Past Dates</h6>
<table class='table borderless'>
  <tbody>
    <tr>
      <td class="col-1">May 11</td>
      <td class="col-2">Hard Rock Stadium</td>
      <td class="col-3">Miami, FL</td>
      <td><button>RSVP</button><button>Tickets</button></td>
    </tr>
  </tbody>
</table> -->

<a class="hive-widget-container" target="_blank" href="https://www.hive.co/l/3z9v8" data-widget-type="signup" data-object-id="1048"><img src="https://www.hive.co/l/3z9v9" alt="signup widget" style="width: 450px; max-width: 100%;" /></a>
