<section id="home">
  <%= image_tag("Logo.png")  %>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/oGm7hvZTgMg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <div id="text">
    <h1>VIP Experiences</h1>
    <p>Paris Vip experiences include early entry, soundcheck access, <br/> A pre show hang with paris and more</p>
    <button>Access Vip</button>
  </div>
</section>

<section id="filler">
</section>

<section id="tour">
  <%= render "tour" %>
</section>

<section id="parallax">
</section>

<%= render "footer" %>
